


.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


body {
  margin: 0 auto;
  padding: 0;
  max-width: 1180px;

}
/* nav style */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-lists {
  display: flex;
  list-style: none;
  gap: 48px;
}
.nav-lists a {
  text-decoration: none;
  color: rgb(113, 95, 70);
}
.nav-lists .nav-1 {
  color: black;
  font-weight: 700;
}
.nav-lists .nav-2 {
  /* Text/Medium/Regular */
  color: rgb(137, 135, 161);
  font-size: 16px;
  font-weight: 400;
}

/* banner style */
.banner {
  display: flex;
  margin-top: 100px;
}
.banner-img {
  background-size: cover;
  position: relative;
}
.banner-header {
  font-size: 50px;
  font-weight: 700;
}
.banner-header span {
  color: rgb(233, 90, 8);
}

.banner-description {
  color: rgba(0, 0, 0, 0.5);
  font-size: 22px;
  font-weight: 400;
}
/* card header & description */
.card-head-description {
  text-align: center;
  margin-top: 100px;
}
.card-head-description span {
  color: rgb(233, 90, 8);
}
.card-head-description h1 {
  font-size: 50px;
  font-weight: 700;
}
.card-head-description p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 22px;
  font-weight: 400;
}

/* card */
.card-container {
  display: grid;

  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  width: 100%;
}

.card {
  width: 100%;
  /* max-width: 270px; */
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
}
.card img {
  width: 100%;
}
.card-container h4 {
  font-size: 22px;
  font-weight: 500;
}
.card-container h2 {
  font-size: 22px;
  font-weight: 700;
}
.card-container button {
  width: 270px;
  height: 50px;
  justify-content: center;
  align-items: center;
  gap: 10;
  padding: 26px 50px 26px 50px;
  background: rgb(233, 90, 8);
  border: none;
}

/* Plants-Lover-Section */
.Plants-Lover-Section {
  display: flex;
  align-items: center;
  gap: 100px;
  margin-top: 150px;
}

.trusted-badge {
  position: absolute;
  top: -110px;
  left: 350px;
  width: 280px;
  z-index: 5;
  animation: spin 5s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.Plants-Lover-img {
  position: relative;
  width: 540px;
  height: 597px;
  margin: 0px 10px;
  background: linear-gradient(
      180deg,
      rgba(103, 171, 234, 0.24),
      rgba(233, 90, 8, 0.6) 100%
    ),
    url(image);
}
.Plants-Lover-text h1 {
  font-size: 50px;
  font-weight: 700;
  color: rgb(0, 0, 0);
}
.Plants-Lover-text li {
  color: rgba(0, 0, 0, 0.5);
  font-size: 22px;
  font-weight: 400;
  margin-top: 20px;
}

/*  Join Section  */
.Join-Section {
  text-align: center;
  margin-top: 100px;
}
.Join-Section span {
  color: rgb(233, 90, 8);
}
.Join-Section h1 {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}
.Join-Section p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 22px;
  font-weight: 400;
  text-align: center;
}
/* Join Section img left-1 */
.Section-img {
  display: flex;
  gap: 20px;
}

.deal-img-left-1 {
  background-image: url(./assets/deal-bloom.png);
  width: 366.22px;
  height: 206px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4), url(image);
  border-radius: 10px;
  margin-bottom: 20px;
}

.deal-img-left-1 h2 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
.deal-img-left-1 p {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-decoration-line: underline;
}
/* Join Section img left-2 */
.deal-img-left-2 {
  background-image: url(./assets/deal-ana.png);
  width: 366.22px;
  height: 206px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4), url(image);
  border-radius: 10px;
}

.deal-img-left-2 h2 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
.deal-img-left-2 p {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-decoration-line: underline;
}

/* Join Section right-1-img */

.right-1-img {
  background-image: url(./assets/deal-zabo.png);
  width: 753px;
  height: 423.13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4), url(image);
  border-radius: 10px;
}

.right-1-img h2 {
  color: rgb(255, 255, 255);
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}
.right-1-img p {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  text-decoration-line: underline;
}

/* Join the colourful Bunch */
.Bunch {
  background-image: url(./assets/news-letter-bg.png);
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 533px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 50px;
}
.Bunch h1 {
  color: rgb(255, 255, 255);
}
.email-btn {
  display: flex;
}
.email {
  width: 340px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 20px 8px 20px;
  border: none;
}
.email-btn button {
  background-color: rgb(233, 90, 8);
  border: none;
  width: 150px;
}

/* footer  */
footer {
  display: flex;
  justify-content: space-around;
  margin: 50px 160px;
  align-items: flex-start;
  /* background-color: aquamarine; */
  gap: 40px;
}
.logo {
  width: 135px;
  height: 82px;
  margin: 0px;
}

.logo p {
  flex: 1;
  color: rgba(0, 0, 0, 0.5);
  font-size: 22px;
  font-weight: 400;
  text-align: left;
}

.logo img {
  width: 135px;
  height: 82px;
}
.lists {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 40px;
}
.lists li {
  list-style: none;
}
.lists ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px 80px;
}
.lists a {
  text-decoration: none;
  color: rgb(113, 95, 70);
}
.icons {
  display: flex;
  flex: 1;
  gap: 20px;
  padding: 0;
  margin: 0;
}

/* Navbar-Responsive: iPhone 14/15 */

@media screen and (max-width: 431px) {
  .nav-lists li:nth-child(1),
  .nav-lists li:nth-child(2),
  .nav-lists li:nth-child(3) {
    display: none;
  }
  .nav-lists {
    justify-content: center;
    align-items: center;
    gap: 100px;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
  }
  .logo img {
    width: 63px;
    height: 38px;
  }
  .nav-1 {
    width: 79px;
    height: 24px;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
  }
}

/*Banner-Responsive: iPhone 14/15 */
@media screen and (max-width: 431px) {
  .banner {
    display: flex;
    flex-direction: column-reverse;
    padding: 16px;
    /* align-items: flex-start;
    text-align: left; */
  }
  .banner img {
    width: 100%;
    max-width: 393px;
    height: auto;
  }

  .banner-header {
    font-size: 32px;
    font-weight: 700;
  }
  .banner-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
/* card header & description-Responsive: iPhone 14/15 */
@media screen and (max-width: 431px) {
  .card-head-description h1 {
    font-size: 24px;
    font-weight: 700;
  }
  .card-head-description p {
    font-size: 14px;
    font-weight: 400;
    margin: 16px 10px;
    text-align: center;
  }
}

/*Card-Responsive: iPhone 14/15 */
@media screen and (max-width: 431px) {
  .card-container {
    display: grid;
    /* display: block; */
    gap: 15px;
    grid-template-columns: repeat(2, 1fr);
    padding: 5px;
    margin-right: 10px;
  }

  .card {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    margin-right: 10px;
  }
  .card-container button {
    width: 100%;
    height: 50px;
    text-align: center;
  }
}

/* Plants-Lover-Section */
@media screen and (max-width: 431px) {
  .Plants-Lover-Section {
    display: flex;
    flex-direction: column;
    margin: 30px 10px 18px;
    align-items: center;
  }
  .Plants-Lover-img {
    width: 100%;
    max-width: 358px;
    height: auto;
    margin: 18px 0px;
    flex: none;
    background: linear-gradient(
        180deg,
        rgba(103, 171, 234, 0.24),
        rgba(233, 90, 8, 0.6) 100%
      ),
      url(image);
    overflow: hidden;
    display: block;
  }
  .Plants-Lover-text h1 {
    font-size: 24px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    text-align: left;
    gap: 16px;
    margin-top: 18px;
  }

  .Plants-Lover-text li {
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
    text-align: left;
  }
  .trusted-badge {
    display: none;
  }
}

/*  Join Section  */
@media screen and (max-width: 431px) {
  .Join-Section {
    text-align: center;
    margin-top: 100px;
  }
  .Join-Section h1 {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
  }
  .Join-Section p {
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    padding-left: 8px;
  }
}

/* Join Section img */
@media screen and (max-width: 431px) {
  .Section-img {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }
  .right-1-img {
    background-image: url(./assets/deal-zabo.png);
    width: 366.22px;
    height: 206px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.4), url(image);
    border-radius: 10px;
  }

  .right-1-img h2 {
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 700;
    text-align: center;
  }
  .right-1-img p {
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    text-decoration-line: underline;
  }
}

/* Join the colourful Bunch */
@media screen and (max-width: 431px) {
  .Bunch {
    width: 100%;
    height: 275px;
    margin-top: 45px;
  }
  .email,
  .email-btn button {
    width: 50%;
  }
}

/* footer-responsive */
@media screen and (max-width: 431px) {
  footer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 30px;
    margin: 50px 20px;
  }
  .logo {
    font-size: 22px;
    font-weight: 400;
    text-align: left;
    width: 180px;
    height: 109px;
    margin: 16px 0px;
  }
  .logo p {
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
  }
  .lists ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .icons {
    display: flex;
    justify-content: left;
    align-items: l;
    text-align: left;
    gap: 15px;
  }
}
